.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.imageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title{
  font-family: "arialCaps";
  color: #475467;
  font-weight: 700;
  font-size: 2rem;
}
.textContainer {
  max-width: 599px;
  padding-left: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  color: #666;
  font-size: 1.2rem !important;
  
}
@media (max-width: 991px) {
  .textContainer {
    padding: 25px 16px;
    max-width: 100%;
  }
}
/* TODO: SimplifyS */
.containerLeft {
  display: flex;
  justify-content: flex-end;
  /* width: 50%; */
  padding: 0px 50px;
  color: #000;
}
.textContainerLeft {
  max-width: 560px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description {
  padding: 40px 0px;
  text-align: justify;
  font-size: 22px;
}
@media (max-width: 991px) {
  .description {
    font-size: 18px;
    padding: 20px 0px;
  }
}

.iconItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.iconImage {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  margin-top: 5px;
}
.iconText {
  display: flex;
  flex-direction: column;
}
.iconTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.iconDescription {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  font-weight: 400;
}
.textContainerRight {
  max-width: 599px;
  padding-left: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

@media (max-width: 769px) {
  .textContainerRight {
    padding-left: 155px;
  }
  .description {
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  .textContainerRight {
    padding-left: 43px;
    padding-right: 30px;
  }
}
