.footerLinks {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.footerLinks h5 {
  font-size: 15px;
  font-weight: bold;
  color: #1b1f28;
  line-height: 1.4;
  text-transform: uppercase;
}
.footerLinks ul {
  padding-left: 0 !important;
}
.footerLinks li {
  padding-top: 10px;
  margin-bottom: 2px;
}
.footerLinks a {
  color: #667085;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
