.dropdownLang{
    position: absolute;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    transition: all 0.2s ease;
}
.dropdownLangList{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    gap: 7px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #98a2b3;
    height: 101px;
    margin-left: -5px;
    margin-top: -40px;
    transition: all 0.2s ease;

    
}
.dropdownLangItem{
    margin-top:1px;
    transition: all 0.2s ease;
    text-align: center;
}
.dropdownLangItem img{
    border-radius: 50%;
    margin-left: -32px;
    transition: all 0.2s ease;



}
