.navbar {
  background-color: #fff;
  box-shadow: 0 4px 8px -2px rgba(16, 24, 40, 0.1),
    0 2px 4px -2px rgba(16, 24, 40, 0.06);
}
.lang {
  margin-left: 40px;
  position: relative;
  transition: all 0.2s ease;
}
.lang img {
  border-radius: 50%;
}
.brand img {
  height: auto;
}
.navbarPosition{
  position: absolute;
  top: 30px;
  right: 19%;
  transform: translateX(50%);
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;



  @media (max-width: 480px) {
    font-size: 11px;
  }

}
.navbarPosition:hover {
  color: #3b4074;
  transition: all 0.2s ease-in-out;
}

.navbarPosition:hover svg {
  color: #3b4074;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

.navbarPosition:not(:hover) svg {
  transition: all 0.2s ease-in-out;
  transform: scale(0.9);
}