.item {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 1px;
  padding: 5px 0px;
}

.navbar-nav {
  position: relative;
}

.dropdown {
  display: block;
  position: absolute;
  top: calc(100% - 20px);
  left: 0;
  background-color: #fff;
  padding: 40px 10px;
  z-index: 1000;
  width: 100%;
  height: 62vh;
  border: none;
  color: #101828;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-family: "FiraGO", sans-serif;

}

/* .dropdown:hover {
    display: block;
    position: absolute;
} */

.link {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-family: "FiraGO", sans-serif;
  font-style: normal;
  transition: all 0.3s ease;
  &:hover {
    color: #244267;
  }
  &:hover + .dropdown {
    display: block;
  }
}

.hoverItems {
  padding: 0px 10px;
}
.mainTitle h4 {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #0c2d57;

  font-style: normal;
}
.dropdownItem a {
  font-family: "FiraGO", sans-serif;
  font-style: normal;
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  transition: all 0.3s ease;
  &:hover {
    color: #244267;
  }
}
