.header {
  background: url("../../image/slider1.webp") no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
