/* .header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../image/slider1.webp") no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.backgroundImage {
  position: relative;
}
.title {
  color: white;
  font-family: 700;
  font-size: 55px;
  line-height: 86px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.description {
  color: white;
  font-family: "fiRago", Courier, monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fcfcfd;
  max-width: 600px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header {
    height: 200px;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
  }
}
