.loadMoreButton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #101828;
}

.loadMoreButton button:hover{
     border: 1px solid #000 !important;
     color: #ffffff !important;
     background-color: #244267 !important;
}
.loadMoreButton span{
 font-size: 16px;
 line-height: 28px;
 
}