.textOverlay{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    padding: 20px;
    max-width: 800px;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
}


.slider h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .02em;
    color: #fcfcfd;
    margin-bottom: 0.5em;
    display: flex;

}

.slider p {
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 28px;
    color: #fcfcfd;
    max-width: 600px;

}
