.whyBatumiSection{
    background-color: #EAECF0;
    height:auto ;
    min-height: 500px;
}
.whyBatumiSection strong{
    color: #101828;
    font-size: 22px;
    font-weight: 500;
    font-family: 'FiraGO', sans-serif;

}