/* .textContainer{
    display: flex;
  
    
} */

/* .wigetEventContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
}
@media (min-width: 768px) {
    .textContainer h1 {
        width: 100%;
        padding: 20px 0;
        font-size: 36px;
        line-height: 44px;
    }
}
*/
/* .wigetEventContainer{
    display: flex;
 
}
.textContainer{
    max-width: 560px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.textContainer h1 {
  padding: 20px 0px;
  font-weight: 600;
  font-size: 51px;
  line-height: 72px;
  color: #101828;
}

@media (max-width: 426px) {
  .textContainer h1 {
    font-size: 29px;
    line-height: 44px;
  }
  .textContainer p {
    font-size: 14px !important;
    line-height: 18px;
  }
  .textContainer button {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .des {
    font-size: 14px !important; 
  }
}
.button {
  background-color: #0c2d57;
  color: white;
  &:hover {
    background-color: #244267;
    color: white;
  }
}
